#login-card {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: #83ee70;
  box-shadow: inset;
}

#upcomming-class-card {
 
  max-width: fit-content;
  height: 210px;
  margin: 0 auto;
  background-color: #83ee70;
  box-shadow: inset;
}


